In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import linregress

In [19]:
zillowdf = pd.read_csv("CSV_files/ZillowData.csv")
mortgagedf = pd.read_csv("CSV_files/MortgageRateMonthlyHistory.csv")

In [20]:
clean_zillowdf=zillowdf.drop(["Property ID", "Geographic ID","Type", "Property Address", "Owner Name",
                              "Appraisel_Year", "Zip", "zillow_id", "home_type","home_type","tax_year", "tax_value",
                              "property_size", "home_size", "bathrooms","bedrooms","last_sold_date",
                             "last_sold_price", "zestimate_amount"], axis=1)
clean_zillowdf.columns=["Appraised Value" , "Year"]
zillow_year = clean_zillowdf.iloc[:, 0]
clean_zillowdf.head()

  Appraised Value    Year
0         688,000  2008.0
1         432,919  1995.0
2         125,101  2016.0
3         280,951  1948.0
4         528,700  2008.0

In [21]:
clean_mortgagedf=mortgagedf.drop(["Month","EOM_Date"], axis=1)
mortgage_year = clean_mortgagedf.iloc[:, 1]
clean_mortgagedf.head()

   Year    Rate
0  2008  0.0576
1  2008  0.0592
2  2008  0.0597
3  2008  0.0592
4  2008  0.0604

In [22]:
mortgage_rate = clean_mortgagedf.iloc[:, 1]
mr_slope, mr_int, mr_r, mr_p, mr_std_err = stats.linregress(
    mortgage_year, mortgage_rate)
mr_fit = m_slope * mortgage_year + m_int
mortgage_rate.head()

0    0.0576
1    0.0592
2    0.0597
3    0.0592
4    0.0604
Name: Rate, dtype: float64

In [11]:
appraised_value = clean_zillowdf.iloc[:, 0]
appraised_value.astype('int32')
av_slope, av_int, av_r, av_p, av_std_err = stats.linregress(
    zillow_year, appraised_value)
av_fit = av_slope * zillow_year + av_int

ValueError: invalid literal for int() with base 10: '688,000'